<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ HEADING }}</title>

  <meta name="description" content="unrestricted biblical content in every language">
  <meta name="keywords" content="">

  <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/print.css" media="print">

  <link rel="canonical" href="https://live.door43.org/templates/bible.html">
  <!-- <link rel="" href="/favicon.ico" type="image/x-icon"> -->
</head>


<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
<link rel="stylesheet" type="text/css" href="/css/commit-page.css">
<link rel="stylesheet" type="text/css" href="/css/bible.css">

<header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Door43
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle Navigation</span>
          <span class="fa fa-align-justify"></span>
        </button>
      </div>
      <div id="main-navbar" class="navbar-nav navbar-right collapse navbar-collapse">
        <ul id="menu-main-menu" class="nav navbar-nav">
          
            <li class="dropdown"><a href="/en/about/" aria-haspopup="true" aria-expanded="false">About</a> <button type="button" class="btn btn-nav-dark dropdown-toggle" data-toggle="dropdown"><span class="fa fa-caret-down"></span><span class="fa fa-caret-up"></span></button>
<ul class="dropdown-menu dropdown-menu-left">
<li class=""><a href="/en/statement-of-faith/">Statement of Faith</a></li>
<li class=""><a href="/en/translation-guidelines/">Translation Guidelines</a></li>
<li class=""><a href="/en/legal/">Legal Information</a></li>
</ul>
</li>
<li class=""><a href="/en/contact/">Contact</a></li>

          
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="print-header" style="display: none;">
  <img src="https://cdn.door43.org/assets/img/logo.png" class="print-logo" alt="Door43 Logo">
  <h2 class="site-description">open-licensed biblical content</h2>
</div>


<div class="content-container container bible-container">
    <main class="content" role="main" itemprop="mainContentOfPage">
        <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
            <header>
                <div id="header-title">
                    <h1 itemprop="headline">
                        <span id="starred-icon"><i class="fa fa-star-o"></i></span>
                        <span id="h1">Header</span>
                        <span id="build-status-icon"><i class="fa fa-question-circle"></i></span>
                    </h1>
                </div>
                <div id="sub-header">
                    <span id="last-updated">Updated ? hours ago</span>
                    <span id="views"><i class="fa fa-eye"></i></span>
                    <span id="num-of-views"># views</span>
                </div>
            </header>
            <div class="page-content row">
                <div id="left-sidebar" class="col-md-3 sidebar" role="complementary">
                    { sidebar }
                </div>
                <div class="col-md-9" role="main" id="content">
                    { content }
                </div>
            </div>
        </article>
    </main>
</div>

<footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
  <div class="container">
    <p style="margin-top:18px">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="CC BY-SA License" style="border-width:0" src="https://cdn.door43.org/assets/img/icons/CC-BY-SA-icon-88x31.png" /></a>
      <br />
      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">The content of this page ("<a xmlns:dct="http://purl.org/dc/terms/" href="https://live.door43.org/templates/bible.html" rel="dct:source">{{ HEADING }}</a>") from </span>
      <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Door43</span> is licensed under a
      <br /><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </p>
  </div>
</footer>
<footer class="print-footer" style="display: none;">
  <div class="row">
    <div class="one-half first">
      <img src="https://cdn.door43.org/assets/img/icons/icon-d43.png" alt="Door43"/>
    </div>
    <div class="one-half last">
      <p>Source: https://live.door43.org/templates/bible.html</p>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/parallax.min.js"></script>
<script type="text/javascript" src="/js/application.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-60106521-4']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<script type="text/javascript" src="/js/general-tools.js"></script>
<script type="text/javascript" src="/js/commit-page.js"></script>

</body>

</html>
