requests==2.20.0
responses==0.5.1
boto3==1.4.4
bs4==0.0.1
gogs_client==1.0.3
coveralls==1.1
python-json-logger==0.1.5
markdown==2.6.8
markdown2==2.3.4
future==0.16.0
pyparsing==2.1.10
usfm-tools==0.0.25
mock==2.0.0
sphinx==1.5.2
sphinx-autobuild==0.6.0
sphinx-rtd-theme==0.1.9
moto==1.0.1
pyyaml==3.12
pymysql==0.7.11
sqlalchemy==1.2.0b2
