requests==2.13.0
responses==0.5.1
boto3==1.4.4
bs4==0.0.1
gogs_client==1.0.3
coveralls==1.1
python-json-logger==0.1.5
markdown==2.6.8
future==0.16.0
pyparsing==2.1.10
git+git://github.com/unfoldingword-dev/usfm-tools.git@0.0.7#egg=usfm_tools-0.0.7
mock==2.0.0
sphinx==1.5.2
sphinx-autobuild==0.6.0
sphinx-rtd-theme==0.1.9

